.wy-side-nav-search {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: #46a5da
}

.wy-side-nav-search input[type="text"] {
    border-color: #46a5da
}

.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
    color: #46a5da
}

.wy-side-nav-search .version {
    color: #FFF !important;
    text-align: right;
}

.wy-side-nav-search .icon-home {
    opacity: 0;
}
